body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-principal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .contenedor{
    margin-top: 50px;
  }
  .card {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  h1 {
    font-weight: 700;
  }
  p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .title{
    text-align: center;
    margin-top: 60px;
  }