<h1 class="title">PRUEBA TECNICA PARA DESARROLLADOR FRONT END</h1>

<div class="contenedor">
  <div class="row">
    
    <!-- Columna izquierda -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
      <h1 class="mb-4">¡Bienvenido!</h1>
      <p class="mb-4">Gracias por tomarse el tiempo de revisar esta prueba técnica.</p>
      <button routerLink="/search-user" class="btn btn-primary btn-lg" type="button" >REVISAR PRUEBA</button>
    </div>

    <!-- Columna derecha -->
    <div class="col-md-6">
      <h2 class="mb-4">Tecnologías y funcionalidades utilizadas</h2>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">Creación de <strong>Services</strong> para lógica de negocio</li>
        <li class="list-group-item">Separación en <strong>Components</strong> y <strong>Pages</strong></li>
        <li class="list-group-item">Directivas propias de angular <strong>if, for, ngclass</strong></li>
        <li class="list-group-item"><strong>Router</strong> para navegación entre páginas</li>
        <li class="list-group-item">Uso de <strong>Observables</strong> para manejo de datos asíncronos</li>
        <li class="list-group-item">Consumo de <strong>APIs REST</strong> externas (GitHub)</li>
        <li class="list-group-item">Implementación de <strong>Paginación</strong> manual</li>
        <li class="list-group-item">Formularios reactivos (<strong>Reactive Forms</strong>)</li>
        <li class="list-group-item">Estilizado con <strong>Bootstrap 5.3</strong></li>
      </ol>
    </div>

  </div>
</div>
